add_header X-Frame-Options SAMEORIGIN;
add_header X-Content-Type-Options nosniff;
add_header X-XSS-Protection "1; mode=block";
add_header Strict-Transport-Security "max-age=31536000";
add_header Referrer-Policy origin;
#add-header Content-Security-Policy "script-src 'self' https://fonts.googleapis.com";

{% for vhost in nginx_reverse_proxy_vhosts %}
server {
  listen {{ vhost.listen | default('80 default_server') }};
  server_name {{ vhost.server_name | default('localhost') }};

  allow 127.0.0.1;

  ssl_certificate         /etc/letsencrypt/live/{{ domain_name }}-0001/fullchain.pem;
  ssl_certificate_key     /etc/letsencrypt/live/{{ domain_name }}-0001/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/{{ domain_name }}-0001/fullchain.pem;

  ssl_session_cache shared:SSL:50m;
  ssl_session_timeout 5m;
  ssl_stapling on;
  ssl_stapling_verify on;

  ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
  ssl_ciphers "ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES128-SHA256:DHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES256-GCM-SHA384:AES128-GCM-SHA256:AES256-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA:DES-CBC3-SHA:HIGH:!aNULL:!eNULL:!EXPORT:!DES:!MD5:!PSK:!RC4";

  ssl_dhparam /etc/nginx/dhparams.pem;
  ssl_prefer_server_ciphers on;

  {% if vhost.access_log is defined %}
    access_log {{ vhost.access_log }};
  {% endif %}

  location /.well-known/acme-challenge {
      root /var/www/letsencrypt;
      try_files $uri $uri/ =404;
  }

  location / {
    proxy_set_header   X-Forwarded-For $remote_addr;
    proxy_set_header   Host $http_host;
    proxy_pass         {{ vhost.proxy_url }};
  }
}
{% endfor %}
